body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
form,
dl,
dd,
dt {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

img {
    border: none;
    display: block;
}

/* 苗桐菲的可选内容 */
body {
    min-width: 320px;
    overflow-x: hidden;
    height: 1000px;
}
