body,h1,h2,h3,h4,h5,h6,p,ul,form,dl,dd,dt{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
a:visited{
    color: #000;
}
img{
    border: none;
    display: block;
}
/* 苗桐菲的可选内容 */
body{
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
}
:root{
    font-size: 5.6vw;
}

#top{
    display: flex;
    background-color: rgb(245, 204, 1);
    padding: 10px 12px;
    padding-left: 15px;
    height: 30px;
}
#menu{
    margin-right:15px;
}
#menu span{
    line-height: 30px;
    height: 36px;
    display: block;
    text-align: left;
    /*只对block元素起作用,span属于inline元素*/
    font-size: 13px;
}

.search{
    border-radius: 10px;
    background-color: #fff;
    flex-grow: 2;
    display: flex;
}
.icon-sousuo{
    margin: 8px 8px;
    font-size: 18px;
    display: flex;
}
#search{
    border: none;
    outline: none;
    flex-grow: 2;
    margin-right: 15px;
}
.btn {
    color: #000;
    font-size: 16px;
    margin: 6px 7px;
}
.icon-saomiao{
    font-size: 30px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  ul{
      list-style: none;
  }
  ul,p,body{
      padding: 0;
      margin: 0;
  }
  .bnav{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 9;
      background-color: rgb(255, 253, 253);
  }
  body{
      margin-bottom: 50px;
  }
  .bnav>ul{
      display: flex;
  }
  .bnav li{
      width: 25%;
      display: flex;
      justify-content:center;

  }
  .bnav div{
      position: relative;
  }
  .bnav svg{
      font-size: 28px;
      margin: 1px 0;
  }
  .bnav p{
      font-size: 15px;
      line-height: 24px;
      color: #333;
      text-align: center;
  }
  .dot{
      width: 10px;
      height: 10px;
      border-radius: 5px;
      position: absolute;
      right: 0;
      top: 3px;
      background-color: #f00;
  }