body{
    background: linear-gradient(rgb(245, 204, 1), rgb(255, 255, 255));
}
/* 搜索框 */
#top {
    display: flex;
    padding: 10px 12px;
    padding-left: 15px;
    background-color: rgb(245, 204, 1);
    height: 35px;
}

#menu {
    margin-right: 15px;
}

#menu span {
    line-height: 35px;
    height: 36px;
    display: block;
    text-align: left;
    /*只对block元素起作用,span属于inline元素*/
    font-size: 13px;
}

.search {
    border-radius: 15px;
    background-color: #fff;
    flex-grow: 2;
    display: flex;
    padding: 10px 0;
}

.icon-sousuo {
    margin: 0 8px;
    font-size: 15px;
    display: flex;
}

#search {
    border: none;
    outline: none;
    flex-grow: 2;
    margin-right: 15px;
}

.n {
    line-height: 5px;
    margin: -7px 3px 0 60px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 232, 116);
    display: flex;
    border: 0;
    outline: none;
    float: right;
}

.btn {
    color: #000;
    font-size: 17px;
    margin: 6px 7px;
}

.icon-saomiao {
    font-size: 30px;
}

/* 内容 */
.waimai {
    padding: 10px 12px;
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
}

.waimai>ul {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
}

.waimai li {
    margin: 1px 10px;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
}

.waimai p {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    text-align: center;
}

.box {
    padding-left: 5px;
    font-size: 10px;
    display: flex;
}

.w {
    background-color: #ffcf57;
    padding: 5px;
    margin-top: -7px;
    margin-right: 10px;
    border-radius: 15px;
}

.box h3 {
    font-size: 13px;
}

.swiper-slide {
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.jlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jlist li {
    width: 20%;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
}

.swiper-slide p {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    text-align: center;
}

#icon-Icon_set-footprint-- {
    color: #f73371;
}
.swiper-pagination{
    font-size: 10px;
}
.sh img{
    margin: 5px auto;
    border-radius: 10px;
    width: 95%;
}
/* 下导航 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

ul,
p,
body {
    padding: 0;
    margin: 0;
}

.bnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: rgb(255, 255, 255);
}

body {
    margin-bottom: 50px;
}

.bnav>ul {
    display: flex;
}

.bnav li {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.bnav div {
    position: relative;
}

.bnav svg {
    font-size: 40px;
    margin: 1px 0;
}

.bnav p {
    font-size: 15px;
    line-height: 24px;
    color: #333;
    text-align: center;
}
.xia>li:nth-child(1) svg{
    margin: 12px 0 5px 3px;
    font-size: 25px;
    font-weight: bold;
}
.xia>li:nth-child(1){
    background-color: rgb(245, 204, 1);
    border-radius: 1000px;
}