body{
    background: linear-gradient(rgb(245, 204, 1), rgb(255, 255, 255));
}
/* 搜索框 */
#top {
    display: flex;
    padding: 10px 12px;
    padding-left: 15px;
    background-color: rgb(245, 204, 1);
    height: 35px;
}

#menu {
    margin-right: 15px;
}

#menu span {
    line-height: 35px;
    height: 36px;
    display: block;
    text-align: left;
    /*只对block元素起作用,span属于inline元素*/
    font-size: 13px;
}

.search {
    border-radius: 15px;
    background-color: #fff;
    flex-grow: 2;
    display: flex;
    padding: 10px 0;
}

.icon-sousuo {
    margin: 0 8px;
    font-size: 15px;
    display: flex;
}

#search {
    border: none;
    outline: none;
    flex-grow: 2;
    margin-right: 15px;
}

.n {
    line-height: 5px;
    margin: -7px 3px 0 60px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 232, 116);
    display: flex;
    border: 0;
    outline: none;
    float: right;
}

.btn {
    color: #000;
    font-size: 17px;
    margin: 6px 7px;
}

.icon-saomiao {
    font-size: 30px;
}

/* 内容 */
.waimai {
    padding: 10px 12px;
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
}

.waimai>ul {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
}

.waimai li {
    margin: 1px 10px;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
}

.waimai p {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    text-align: center;
}

.box {
    padding-left: 5px;
    font-size: 10px;
    display: flex;
}

.w {
    background-color: #ffcf57;
    padding: 5px;
    margin-top: -7px;
    margin-right: 10px;
    border-radius: 15px;
}

.box h3 {
    font-size: 13px;
}

.swiper-slide {
    padding-bottom: 20px;
    background-color: #fff;
}

.jlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jlist li {
    width: 20%;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
}

.swiper-slide p {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    text-align: center;
}

#icon-Icon_set-footprint-- {
    color: #f73371;
}
.swiper-pagination{
    font-size: 10px;
}
.sh img{
    margin: 5px auto;
    border-radius: 10px;
    width: 95%;
}
.swiper-slide:nth-child(1){
    border-radius: 15px 0 0 15px;
}
.swiper-slide:nth-child(3){
    border-radius: 0 15px 15px 0;
}
/* 商品 */
.jlist2>li{
    background-color: #fff;
}
.jlist2{
    width: 100%;
}
.jlist2>li{
    width: 46%;
    float: left;
    margin: 4px 6px;
    position: relative;
    border-radius: 8px;
    padding-bottom: 5px;
}
.jlist2 img{
    width: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}
.pnei>p{
    position: absolute;
    font-size: 11px;
}
.sp{
    bottom: 89px;;
    left: 0;
    background: rgb(255, 207, 47);
    padding: 3px 3px 3px 5px;
    color: #000;  
}
.time{
    bottom: 89px;;
    left: 30px;
    padding: 3px 5px 3px 5px;
    background: rgba(95, 95, 95, 0.702);
    color: #fff;  
}
.nei1{
    padding: 5px;
}
.nei1 h3{
    padding-bottom: 3px;
}
#nei1{
    display: flex;
    color: rgb(176, 176, 176);
    padding-bottom: 3px;
}
#nei1 p:nth-child(1){
    padding-right: 5px;
    border-right: 1px solid rgb(176, 176, 176);
}
#nei1 p:nth-child(2){
    padding-left: 5px;
}
#nei2{
    display: flex;
    color: rgb(255, 31, 31);
}
#nei2 p{
    border: 1px solid rgb(255, 39, 39);
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    margin-right: 5px;
    padding: 0 3px 0 3px;
    text-align: center;
}

/* 下导航 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

ul,
p,
body {
    padding: 0;
    margin: 0;
}

.bnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: rgb(255, 255, 255);
}

body {
    margin-bottom: 50px;
}

.bnav>ul {
    display: flex;
}

.bnav li {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.bnav div {
    position: relative;
}

.bnav svg {
    font-size: 30px;
    margin: 1px 0;
}

.bnav p {
    font-size: 15px;
    line-height: 24px;
    color: #333;
    text-align: center;
}
.xia>li:nth-child(1) svg{
    margin-left: 2.6px;
    font-size: 25px;
    font-weight: bold;
}
.dot{
    width: 51px;
    height: 51px;
    border-radius: 50px;
    position: absolute;
    left: 13.2px;
    top: 3px;
    background-color: rgb(255, 213, 0);
    z-index: -1;
}
.dot2 {
    width: 14px;
    height: 13px;
    border-radius: 50px;
    position: absolute;
    right: 99px;
    top: 2px;
    background-color: rgb(255, 72, 0);
    color: #fff;
    text-align: center;
    font-size: 10px;
}