body{
    background-color: rgb(246, 246, 246);
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/* 顶部 */
.top1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.top1>ul{
    display: flex;
}
.top1 li:nth-child(1){
    width: 10%;
    margin: 10px 0 10px 0;
    text-align: center;
}
.top1 li:nth-child(2){
    width: 90%;
    text-align: center;
    margin: 4px 34px 0 0;
    font-size: 14px;
}
/* 内容1 */
.nr1{
    margin-top: 50px;
    padding: 13px 0 0 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.one {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(176, 176, 176);
}
.nr1 p{
    padding: 5px 0 15px 0;
    color: rgb(176, 176, 176);
    font-size: 10px;
}
.two{
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
}
.nr1 svg{
    padding: 10px 5px 10px 10px;
    font-size: 15px;
    color: rgb(176, 176, 176);

}
/* 内容2 */
.nr2{
    margin-top: 10px;
    padding: 10px 0 10px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.one1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#one1 p{
    padding-top: 5px;
    color: rgb(176, 176, 176);
    font-size: 10px;
}
.nr2 svg{
    padding: 10px 5px 10px 0px;
    font-size: 15px;
    color: rgb(176, 176, 176);
}
#one2{
    padding-left:200px;
    color: rgb(176, 176, 176);
    font-size: 10px;
}
.dot {
    width: 40px;
    height: 13px;
    border-radius: 50px;
    position: absolute;
    top: 203px;
    left: 55px;
    background-color: rgb(255, 72, 0);
    color: #fff;
    text-align: center;
    font-size: 10px;
}
/* 内容3 */
.nr3{
    margin-top: 10px;
    padding: 10px 0 0 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.nr3 h3{
    padding-bottom: 10px;
}
.nr3 div:nth-last-child(1){
    border-bottom: none;
    margin-bottom: 3px;
}
.nr3 svg{
    padding: 3px 5px 10px 0px;
    font-size: 15px;
    color: rgb(176, 176, 176);
}
/* 内容四 */
.nr4{
    margin-top: 10px;
    padding: 10px 0 0 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.nr4 h3{
    padding-bottom: 10px;
}
.nr4 div:nth-last-child(1){
    border-bottom: none;
    margin-bottom: 3px;
}
.nr4 svg{
    padding: 3px 5px 10px 0px;
    font-size: 15px;
    color: rgb(176, 176, 176);
}
#one3{
    padding:4px 0 0 239px;
    color: rgb(176, 176, 176);
    font-size: 10px;
}
/* 底部1 */
.bottom1{
    background-color: rgb(245, 204, 1);
    border-radius: 8px;
    margin: 20px 10px 20px 10px;
    padding: 15px 0 15px 0 ;
}
.bottom1 p{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
/* 底部2 */
.bottom2{
    background-color: rgb(220, 220, 220);
    border-radius: 8px;
    margin: 20px 10px 20px 10px;
    padding: 15px 0 15px 0 ;
}
.bottom2 p{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

