body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
form,
dl,
dd,
dt {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

img {
    border: none;
    display: block;
}

/* 苗桐菲的可选内容 */
body {
    min-width: 320px;
    overflow-x: hidden;

    background-color: rgb(243, 243, 243);
}

/* 上导航 */
#top {
    display: flex;
    padding: 10px 12px;
    padding-left: 15px;
    height: 35px;

}

#menu {
    margin-right: 15px;
}

#menu span {
    line-height: 35px;
    height: 36px;
    display: block;
    text-align: left;
    font-size: 13px;
}

.search {
    border-radius: 15px;
    background-color: #fff;
    flex-grow: 2;
    display: flex;
    padding: 10px 0;
}

.icon-sousuo {
    margin: 0 8px;
    font-size: 15px;
    display: flex;
}

#search {
    border: none;
    outline: none;
    flex-grow: 2;
    margin-right: 15px;
    font-size: 15px;
}

.n {
    line-height: 5px;
    margin: -7px 3px 0 60px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 219, 38);
    display: flex;
    border: 0;
    outline: none;
    font-size: 15px;
    align-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}

/* 内容 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.box1 {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    float: left;
    padding: 15px;
    margin-top: 10px;
    width: 93%;
}

.box2 li:nth-child(1) svg,.box2 li:nth-child(3) svg {
    float: right;
    color: rgb(152, 152, 152);
    font-size: 20px;
    margin-top: -20px;
}

.box1 p.hui {
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    padding: 7px;
    width: auto;
    display: inline-block !important;
    margin: 10px 5px;
}

/* swiper */

.swiper-slide{
    border-radius: 20px;
}
.kuang {
    border-radius: 20px;
    padding: 12px;
}
.swiper-slide:nth-child(1n) {
    background-color: rgb(252, 227, 227);
}
.swiper-slide:nth-child(2n) {
    background-color: rgb(248, 196, 228);

}
.swiper-slide:nth-child(3n) {
    background-color: rgb(253, 239, 180);

}
.swiper-slide:nth-child(4n) {
    background-color: rgb(230, 197, 248);
}
.swiper-slide:nth-child(5n) {
    background-color: rgb(248, 196, 228);
}

.kuang span {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px;
    height: 20%;
}

.kuang p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    font-size: 15px;
}

.kuang li {
    margin: 10px 0px;
    display: flex;
    font-weight: bold;
}

.pi1 {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: -15px;
}
.shou{
    color: #f75600;
}
.wei{
    color: #8a8a8a;
}
.swiper-slide:nth-child(1n) h2{
    color: #fe0000;
}
.swiper-slide:nth-child(2n) h2{
    color: #fa38d0;
}
.swiper-slide:nth-child(3n) h2{
    color: #fbb105;
}
.swiper-slide:nth-child(4n) h2{
    color: #af23fa;
}
.swiper-slide:nth-child(5n) h2{
    color: #fa38d0;
}
.swiper-slide:nth-child(5n) h2{
    color: #fa38d0;
}
.tou{
    display: flex;
}
.tou svg{
    height: 25px;
    font-size: 20px;
    margin-right: 5px;
}
#wei1 {
    float: right;
    font-size: 18px;
    height: 40px;
    margin: 0 8px 0 auto;
    color: #f75600
}