body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
form,
dl,
dd,
dt {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

img {
    border: none;
    display: block;
}

/* 苗桐菲的可选内容 */
body {
    min-width: 320px;
    overflow-x: hidden;

    background-color: rgb(243, 243, 243);
}

/* 上导航 */
#top {
    display: flex;
    padding: 10px 12px;
    padding-left: 15px;
    height: 35px;

}

#menu {
    margin-right: 15px;
}

#menu span {
    line-height: 35px;
    height: 36px;
    display: block;
    text-align: left;
    font-size: 13px;
}

.search {
    border-radius: 15px;
    background-color: #fff;
    flex-grow: 2;
    display: flex;
    padding: 10px 0;
}

.icon-sousuo {
    margin: 0 8px;
    font-size: 15px;
    display: flex;
}

#search {
    border: none;
    outline: none;
    flex-grow: 2;
    margin-right: 15px;
    font-size: 15px;
}

.n {
    line-height: 5px;
    margin: -7px 3px 0 60px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 219, 38);
    display: flex;
    border: 0;
    outline: none;
    font-size: 15px;
    align-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}
/* 内容 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.box2{
    background-color: #fff;
    border-radius: 15px;
    float: left;
    padding: 15px;
    margin: 10px;
    width: 86%;
}
.box2 li:nth-child(1) svg,.box2 li:nth-child(3) svg{
    float: right;
    color: rgb(152, 152, 152);
    font-size: 20px;
    margin-top: -20px;
}
.box2 p.hui{
    background-color: rgb(245,245,245);
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    padding: 7px;
    width:auto; 
    display:inline-block !important; 
    margin:10px 5px ;
}
