body {
    background-color: rgb(246, 246, 246);
}
.swiper{
    margin-left: 0;
    margin-right: 0;
}
/* 顶部 */
.top1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

.top1>ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top li {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 10px;
}

.top2 {
    padding-top: 40px;
    display: flex;
}

.touxiang {
    width: 53px;
    border-radius: 60px;
    font-size: 15px;
    margin-left: 20px;
}

.txt {
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.txt h3 {
    margin-left: 8px;
    font-size: 17px;
    line-height: 33px;
    width: 100%;
}

.txt a {
    color: #030;
}

.txt span {
    font-size: 10px;
    line-height: 22px;
}

.neirong {
    margin-left: 15px;
    border: 0px solid #333;
    background-color: rgb(225, 225, 225);
    color: #444;
    border-radius: 15px;
    padding: 0 5px 0 5px;
    text-align: center;
}

.top3 {
    width: 25%;
    display: flex;
    font-size: 10px;
    border: 1px solid rgb(255, 221, 1);
    border-radius: 10px;

}

.txt1 {
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.txt1 h4 {
    font-size: 12px;
    line-height: 35px;
    width: 100%;
    margin-bottom: -15px;
}

.top3 img {
    width: 17%;
    height: 50%;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 12px;
    text-align: right;
}

/* 内容1 */
.top4 {
    padding: 10px 0 0 0;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.up>ul {
    display: flex;
}

.up li {
    width: 50%;
    text-align: center;
    padding: 5px 0 5px 0;
}

.box-with-underline {
    position: relative;
    width: 368px;
    height: 1px;
    background-color: rgb(215, 215, 215);
    margin-top: -10px;
}

.up li:nth-child(1) {
    border-right: 1px solid rgb(215, 215, 215);
}

.up svg {
    color: rgb(176, 176, 176);
}

.down {
    padding-top: 10px;
}

.down>ul {
    display: flex;
}

.down li {
    width: 25%;
    text-align: center;
}

.down svg {
    font-size: 25px;
}

/* 内容二 */
.top5 {
    padding: 10px 0 0 0;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

}

.order {
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between
}

.order>h3 {
    margin-left: 10px;
    font-size: 15px;
}

.order>div {
    display: flex;
    margin-top: 3px;
}

.order svg {
    color: rgb(176, 176, 176);
    margin-top: 2px;
}

.order1 ul {
    display: flex;
}

.order1 li {
    width: 20%;
    text-align: center;
    padding: 10px 0 10px 0;
}

.order1 svg {
    font-size: 25px;
    margin-bottom: 3px;
}

/* 内容三 */
.m {
    padding: 20px 0 20px 0;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.m>ul {
    display: flex;
}

.m li {
    width: 20%;
    text-align: center;
}

.T {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.m h3 {
    font-size: 19px;

}

.m h4 {
    font-weight: bold;
    font-size: 10.4px;
}

.m p {
    color: rgb(176, 176, 176);
    font-size: 8px;
}

#T {
    color: rgb(255, 72, 0);
}

.m svg {
    font-size: 24.7px;
}

.m li:nth-last-child(2) {
    border-right: 1px solid rgb(176, 176, 176);
}

/* 内容四 */
.book {
    padding: 10px 0 10px 0;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}
.book1 {
    margin: 0 5px 0 5px;
    display: flex;
    width: 100%;
}
.book1 h3{
    width: 30%;
}
#book1 {
    display: flex;
    align-items: center;
    margin-left: 60%;
    width: 70%;
    float: left;
}

#book1 svg {
    color: rgb(176, 176, 176);
}

#book {
    width: 55px;
    border-radius: 6px;
    font-size: 15px;
    margin-left: 17px;
}

.books1 {
    width: 100%;
}
.book1 h3{
    margin-left: 10px;
    font-size: 15px;
}
.books {
    display: flex;
    margin: 15px 0 10px 0;
}

#books {
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1
}

.s2 {
    height: 50px;
    font-size: 11px;
    color: #909090;
}
.book2{
    background-color: #fff;
    border: 1px solid #4e4e4e;
    height: 20px;
    margin-top: 37px;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
}
/* 商品 */
.jlist2>li{
    background-color: #fff;
}
.jlist2{
    width: 100%;
}
.jlist2>li{
    width: 46%;
    float: left;
    margin: 4px 6px;
    position: relative;
    border-radius: 8px;
    padding-bottom: 5px;
}
.jlist2 img{
    width: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}
.pnei>p{
    position: absolute;
    font-size: 11px;
}
.sp{
    bottom: 89px;;
    left: 0;
    background: rgb(255, 207, 47);
    padding: 3px 3px 3px 5px;
    color: #000;  
}
.time{
    bottom: 89px;;
    left: 30px;
    padding: 3px 5px 3px 5px;
    background: rgba(95, 95, 95, 0.702);
    color: #fff;  
}
.nei1{
    padding: 5px;
}
.nei1 h3{
    padding-bottom: 3px;
}
#nei1{
    display: flex;
    color: rgb(176, 176, 176);
    padding-bottom: 3px;
}
#nei1 p:nth-child(1){
    padding-right: 5px;
    border-right: 1px solid rgb(176, 176, 176);
}
#nei1 p:nth-child(2){
    padding-left: 5px;
}
#nei2{
    display: flex;
    color: rgb(255, 31, 31);
}
#nei2 p{
    border: 1px solid rgb(255, 39, 39);
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    margin-right: 5px;
    padding: 0 3px 0 3px;
    text-align: center;
}
/* 下导航 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.bnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: rgb(246, 246, 246);
}

body {
    margin-bottom: 50px;
}

.bnav>ul {
    display: flex;
}

.bnav li {
    width: 20%;
    display: flex;
    justify-content: center;

}

.bnav div {
    position: relative;
}

.bnav svg {
    font-size: 30px;
    margin: 1px 0;
}

.bnav p {
    font-size: 15px;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.dot {
    width: 14px;
    height: 13px;
    border-radius: 50px;
    position: absolute;
    right: -3px;
    top: 2px;
    background-color: rgb(255, 72, 0);
    color: #fff;
    text-align: center;
    font-size: 10px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

ul {
    list-style: none;
}

ul,
p,
body {
    padding: 0;
    margin: 0;
}

.bnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: rgb(246, 246, 246);
}

body {
    margin-bottom: 50px;
}

.bnav>ul {
    display: flex;
}

.bnav li {
    width: 20%;
    display: flex;
    justify-content: center;

}

.bnav div {
    position: relative;
}

.bnav svg {
    font-size: 30px;
    margin: 1px 0;
}

.bnav p {
    font-size: 15px;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.dot {
    width: 14px;
    height: 13px;
    border-radius: 50px;
    position: absolute;
    right: -3px;
    top: 2px;
    background-color: rgb(255, 72, 0);
    color: #fff;
    text-align: center;
    font-size: 10px;
}