body {
    background-color: rgb(246, 246, 246);
}

/* 上位置 */
.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

.top ul {
    display: flex;
}

.top li {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 10px;
    margin-top: 18px;
    padding-bottom: 5px;
}
.top li:nth-child(1){
    margin-left: 10px;
}
.top li:nth-child(3) {
    margin-left: -2px;
}

.top svg {
    height: 16px;
    margin-right: 5px;
}

.top li:nth-last-child(1) p {
    margin-left: 190px;
}

/* 搜索框 */
.search {
    background-color: #fff;
    position: absolute;
    top: 50px;
    margin: 0 10px 0 10px;
    padding: 10px 190px 10px 0;
    border-radius: 20px;
    display: flex;
}
.search span{
    margin: 0 3px 0 10px;
}
#search {
    border: none;
    outline: none;
    flex: 2;
    margin-left: 5px;
    font-size: 12px;
}
/* 聊天界面 */
.lt{
    background-color: #fff;
    height: 1000px;
}
.jlist1{
    margin-top: 100px;
    padding-top: 5px;
    margin-left: -10px;
}
.jlist1>li{
    display: flex;
    border-bottom: 1px dotted #ccc;
    margin: 0 0 10px 0;
    padding-bottom: 4px;
}
.jlist1 img{
    width: 53px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 20px;
}
.txt{
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.txt h3{
    margin-left: 8px;
    font-size: 14px;
    line-height: 33px;
    width: 100%;
}
.txt a{
    color: #030;
}
.txt span{
    font-size: 12px;
    line-height: 22px;
    color: #999;
}
.neirong{
    margin-left: 8px;
}
.time{
    margin-right: 8px;
    flex-grow: 1;
    text-align: right;
    margin-top: -26px;
}
.lt h4{
    margin: 20px 0 10px 13px;
    font-weight: normal;
}
.jlist{
    padding-top: 5px;
    margin-left: -10px;
}
.jlist>li{
    display: flex;
    border-bottom: 1px dotted #ccc;
    margin: 0 0 10px 0;
    padding-bottom: 4px;
}
.jlist img{
    width: 53px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 20px;
}
.dot1 {
    width: 14px;
    height: 13px;
    border-radius: 50px;
    position: absolute;
    left: 53px;
    top: 492px;
    background-color: rgb(255, 72, 0);
    color: #fff;
    text-align: center;
    font-size: 10px;
}
/* 下导航 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

ul {
    list-style: none;
}

.bnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background-color: rgb(246, 246, 246);
}

body {
    margin-bottom: 50px;
}

.bnav>ul {
    display: flex;
}

.bnav li {
    width: 20%;
    display: flex;
    justify-content: center;

}

.bnav div {
    position: relative;
}

.bnav svg {
    font-size: 30px;
    margin: 1px 0;
}

.bnav p {
    font-size: 15px;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.dot {
    width: 14px;
    height: 13px;
    border-radius: 50px;
    position: absolute;
    right: -3px;
    top: 2px;
    background-color: rgb(255, 72, 0);
    color: #fff;
    text-align: center;
    font-size: 10px;
}