@font-face {
  font-family: "iconfont"; /* Project id 4283474 */
  src: url('iconfont.woff2?t=1701769952756') format('woff2'),
       url('iconfont.woff?t=1701769952756') format('woff'),
       url('iconfont.ttf?t=1701769952756') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianyingpiao:before {
  content: "\e604";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-meishi:before {
  content: "\e8f8";
}

.icon-yaling:before {
  content: "\e67c";
}

.icon-jiudian:before {
  content: "\e73f";
}

.icon-Icon_set-footprint--:before {
  content: "\e621";
}

.icon-kuaidiyuan:before {
  content: "\e61f";
}

.icon-huochepiao:before {
  content: "\e609";
}

.icon-xiuxianyule:before {
  content: "\e619";
}

.icon-tubiaozhizuomoban:before {
  content: "\e622";
}

.icon-meituan:before {
  content: "\e60c";
}

.icon-shu:before {
  content: "\e60b";
}

.icon-tejia:before {
  content: "\ec60";
}

.icon-KTV:before {
  content: "\faca";
}

.icon-yaoxiang:before {
  content: "\e66b";
}

.icon-bianlidian:before {
  content: "\e626";
}

.icon-gaopinzhi:before {
  content: "\e86c";
}

.icon-zixingche:before {
  content: "\e603";
}

.icon-saomiao:before {
  content: "\e617";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-daifukuan:before {
  content: "\e600";
}

.icon-jifen:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-icon:before {
  content: "\e686";
}

.icon-liulanjilu:before {
  content: "\e62f";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-wode:before {
  content: "\e630";
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-shipinbofang:before {
  content: "\e602";
}

.icon-huiyuanzhongxin:before {
  content: "\e64e";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-youxuan:before {
  content: "\e645";
}

.icon-shangjiaruzhu:before {
  content: "\e62b";
}

.icon-qiyefuwu:before {
  content: "\e61e";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-daipingjia:before {
  content: "\e7a3";
}

.icon-gongyi:before {
  content: "\e60a";
}

.icon-daishiyong:before {
  content: "\e611";
}

.icon-kaifapiao:before {
  content: "\e66a";
}

.icon-bangka:before {
  content: "\e6d9";
}

.icon-wodedianpu:before {
  content: "\e612";
}

.icon-yuedu:before {
  content: "\e66e";
}

.icon-a-toiletpaper:before {
  content: "\e655";
}

